header {
  background-color: white;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 200;
  padding: 15px 30px;
  height: 216px;
  transform: translateY(-100%);
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
  }
}

.dg.ac {
  z-index: 300 !important;
}


.logowrapper {
  svg {
    height: 56px;
    width: auto;
  }
}

.iconwrapper {
  display: flex;
  color: #010101;
  div,
  svg {
    width: 44px;
    height: 44px;
  }
  div {
    margin-right: 20px;
  }
}
