@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import "./header.scss";
@import "./scrollbar.scss";
@import "./scrolldown.scss";
@import "./textanim.scss";

@keyframes pulse {
  from {opacity: 1;}
  to {opacity: 0.5;}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "district-pro", sans-serif;
}

body {
  margin: 0;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
  position: relative;
}

h2 {
  font-size: 6.5em;
  font-weight: 100;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
h3 {
  font-size: 4em;
  font-weight: 100;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.stars {
  z-index: 8;
  position: absolute;
  top: -100%;
  right: -20%;
  width: 100%;
  height: 200%;
  transform: rotate(310deg);
}

.star {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -50%;
    left: 0;
    height: 5vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #195edd 75%, #2394df 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.36, 0.01, 0.92, 0.46);
  }
  &:nth-child(1) {
    margin-left: -10%;
    &::after {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #da861a 75%, #fab727 100%);
      animation-delay: 2s;
    }
  }
  &:nth-child(3) {
    margin-left: 10%;
    &::after {
      animation-delay: 2.5s;
    }
  }
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
};

.glowTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  //background: radial-gradient(circle at 3% 5%, #161d4e 0%, #0b0c0d 50%);
  //background: linear-gradient(135deg, #161d4e 0%, #0b0c0d00 67%);
  background: linear-gradient(135deg, #0e438d80 0%, #0b0c0d00 67%)
}

.glowButtom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.herowrapper {
  z-index: 10;
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.webglwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
}

.textoverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.headingtext {
  width: 900px;
}

section {
  position: relative;
  background-color: lightgray;
  color: rgb(58, 58, 58);
  min-height: 100vh;
  height: 100vh;
}

p {
  font-size: 20px;
}

section:not(.first) {
  padding: 150px;
}

section.first {
  overflow: hidden;
  background-color: #0b0c0d;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.center {
  text-align: center;
}
