/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #292929 #1a1a1a;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background: #1a1a1a;
}
*::-webkit-scrollbar-thumb {
  background-color: #292929;
  border: 1px solid #1a1a1a;
}
